# Dependency directory
node_modules

# Ignore coverage
coverage

# Ignore built ts files
dist

# Ignore Desktop Service Store
.DS_Store

# Ignore env
.env
.envrc

# Use pnpm
yarn.lock
package-lock.json
