# Dependency directory
node_modules

# Ignore coverage
coverage

# Ignore built ts files
dist
esm

# Ignore Desktop Service Store
.DS_Store

# Ignore env
.env
.envrc

# Use pnpm
yarn.lock
package-lock.json


# log
*-debug.log
*-error.log

.turbo

lambda.zip
